<a href="https://colab.research.google.com/github/Harshalkotkar21/play_store_app_analysis/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

**The objective of this project is to deliver insights to understand customer 
demands better and thus help developers to popularize the product**

In [43]:
# Importing libraries
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
# importing dataset
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
ps_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone/Project 1/Play_Store_Data.csv')

In [46]:
reviews_data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Capstone/Project 1/User_Reviews.csv')

**Analysing the dataset**

In [47]:
# Checking columns in dataset
ps_data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [48]:
# checking size of data
ps_data.shape

(10841, 13)

In [49]:
ps_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [50]:
# Descriptive Statistics
ps_data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

There is clearly a mismatch row in dataset as max rating cannot be 19

In [51]:
# deleting mismatch data
ps_data.drop(ps_data.index[10472], inplace=True)

**Cleaning the data**

In [52]:
# Removing unwanted symbols and converting values to numeric
ps_data['Installs']=ps_data['Installs'].map(lambda x:x.rstrip('+'))

In [53]:
ps_data['Installs']=pd.to_numeric(ps_data['Installs'].str.replace(',',''))

In [54]:
ps_data['Price']=pd.to_numeric(ps_data['Price'].str.replace('$',''))

In [55]:
ps_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  object
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  int64
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.2+ MB

In [56]:
# Checking for any duplicate values

boolean=ps_data['App'].duplicated().any()
boolean

True

In [57]:
ps_data.App.value_counts()

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
Candy Crush Saga                                     7
Duolingo: Learn Languages Free                       7
8 Ball Pool                                          7
                                                    ..
Of the wall Arapaho bk                               1
Motorbike Driving Simulator 3D                       1
Access Point Finder                                  1
FrostWire: Torrent Downloader & Music Player         1
Mini DAYZ: Zombie Survival                           1
Name: App, Length: 9659, dtype: int64

In [58]:
# Checking if duplicate data is identical or not
ps_data[ps_data.App == 'ROBLOX']

         App Category  Rating  ...   Last Updated   Current Ver  Android Ver
1653  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
1701  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
1748  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
1841  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
1870  ROBLOX     GAME     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
2016  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
2088  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
2206  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742   4.1 and up
4527  ROBLOX   FAMILY     4.5  ...  July 31, 2018  2.347.225742   4.1 and up

[9 rows x 13 columns]

In [59]:
ps_data.drop_duplicates(inplace=True)

In [61]:
# Converting review type to numeric

ps_data['Reviews']=pd.to_numeric(ps_data['Reviews'].str.replace('$',''))

In [63]:
ps_data=ps_data.loc[ps_data.groupby(['App'])['Reviews'].idxmax()]

In [64]:
# Setting up parameters for plot

sns.set_style('darkgrid')
plt.rcParams['font.size']= 14
plt.rcParams['figure.figsize']= (9,5)
plt.rcParams['figure.facecolor']= '#00000000'

**Detailed Analysis of the Dataset**

In [ ]:
# Getting top 20 apps from Playstre as per their genres